# Database
POSTGRES_CONTAINER_NAME=ifal-arapiraca-pg
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=ifal-arapiraca
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB

# Server
PORT=3333

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Storage
IMGBB_API_KEY=

# Google Sheets
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
