# Database
DATABASE_URL=

# Server
PORT=

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

IMGBB_API_KEY=

# Google Sheets (opcional - para sync de formulário)
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=